.home {
  .title {
    display: flex;
    justify-content: center;
    h1 {
      margin: 50px;
      margin-bottom: 20px;
    }
  }

  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .select {
      outline: none;
      height: 48px;
      padding: 30px 15px;
      background: #fff;
      border: none;
      font-size: 18px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  }

  p {
    display: flex;
    justify-content: center;
  }

  .link {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    &.hidden {
      visibility: hidden;
      pointer-events: none;
      cursor: default;
      div {
        opacity: 0;
      }
    }
    &.active {
      visibility: visible;
      pointer-events: all;
      cursor: pointer;
      div {
        opacity: 1;
        transition: opacity 0.5s ease-in;
      }
    }
  }
}