.container {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 50px;
}

.centered {
  width: 700px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.half-width {
  width: 350px;
}

.title {
  text-align: center;
}

.big-title {
  margin-bottom: .5em;
  line-height: .9em;
  letter-spacing: -.0125em;
  font-size: 72px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.link {
  &:hover {
    font-style: italic;
  }

  font-size: 24px;
  text-decoration: none;
  color: rgb(46, 170, 77);
}

.disabled-link {
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

.main-button {
  padding: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.tile {
  background: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 60%;
  overflow-y: auto;
}

p {
  font-size: 20px;
  color: rgb(51, 51, 51);
}
