.discussion {
  &.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 90px;
  }

  .link {
    font-size: 36px;
    position: fixed;
    left: 50px;
    bottom: 50px;
  }

  .fixed-title {
    position: fixed;
    left: 50px;
    top: 0;
    &.hidden-fade {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    &.visible-fade {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-in-out;
    }
    .left-align {
      text-align: left;
      padding-left: 40px;
    }
  }
}