.card {
  padding: 40px 0;
  width: 50%;

  .card-item {
    text-align: right;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .old-message {
      transition: color 0.5s ease-in-out;
      color: #666;
    }

    .question {
      font-weight: 600;
      font-style: italic;
      margin-bottom: 30px;
    }

    .response {
      margin-bottom: 80px;
      width: 650px;
      word-wrap: break-word;

      &.entry {
        height: 250px;
        margin-bottom: 5%;
      }
    }
  }
}